<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Our Website</title>
</head>

<body>
    <div class="container" style="text-align: center">

        {% include 'navbar.html' %}

        <h1>The services that we provide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, eveniet exercitationem! Nihil sapiente vero
            debitis molestiae dignissimos eligendi excepturi non cumque est odit soluta dolorum corrupti suscipit, velit
            qui sed id minima saepe quidem architecto commodi. Soluta excepturi eos rerum consequuntur veritatis, ea
            quibusdam nulla expedita nobis vero temporibus harum.</p>
        <button>Contact US</button>

    </div>
</body>

</html>